@model ProductosCRUD.Client.Models.Producto

<div class=" card text-primary">
    <div class="card-header text-center">
        <h5>Crear Producto</h5>
    </div>
    <div class=" card-body text-center">
        <div class=" col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>               
                <div class="form-group">
                    <label></label>
                    <input asp-for="Descripcion" class="form-control" placeholder="Descripcion">
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Precio" class="form-control" placeholder="Precio">
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class=" card-footer text-center">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                        <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la Lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
    
</div>




